body { background-color:rgb(4, 4, 59);
    color: rgb(179, 209, 209);
    font-family: "Agdasima", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0px;
}

button {

    background-color: rgb(9, 140, 248);
    color: rgb(235, 235, 235);
    font-family: "Agdasima", sans-serif;
}

.passo{
    display: none;

}
.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{

    max-width: 75%;
}